

<h1>{{title}} </h1>

<h5>{{dateFrom}} - {{dateTo}}</h5>

<table class="table table-bordered">
	<tr>
		<td>Landing Page Opt Ins (wk)</td>
		<td>{{countLP}}</td>
	</tr>
	<tr>
		<td>My Wine Cellar Opt Ins (wk)</td>
		<td>{{countMWC}}</td>
	</tr>
	<tr>
		<td>Main Checkout Opt Ins (wk)</td>
		<td>{{countCheckout}}</td>
	</tr>
	<tr>
		<td>Pulled by Date</td>
		<td>{{dateFilter}}</td>
	</tr>

</table>
<br><br>

<table class="table table-bordered">
	<tr>
	<tr>
		<td>Total Cumulative</td>
		<td>{{totals}}</td>
	</tr>
	<tr>
		<td>Total Cumulative (de-duped)</td>
		<td>{{dedupes}}</td>
	</tr>
</table>

