

<h1>{{title}} </h1>

<h2>Date Range</h2>
<ul>
	<li><b>From:</b> {{formatDate dateFrom}} </li>
	<li><b>To:</b> {{formatDate dateTo}}</li>
</ul>

<table class="table table-bordered">
	<tr>
		<td>Landing Page Opt Ins (wk)</td>
		<td>{{countLP}}</td>
	</tr>
	<tr>
		<td>My Wine Cellar Opt Ins (wk)</td>
		<td>{{countMWC}}</td>
	</tr>
	<tr>
		<td>Main Checkout Opt Ins (wk)</td>
		<td>{{countCheckout}}</td>
	</tr>
	<tr>
		<td>Totals</td>
		<td>{{dateFilter}}</td>
	</tr>

</table>
<br><br>

<table class="table table-bordered hidden">
	<tr>
	<tr>
		<td>Total Cumulative</td>
		<td>{{totals}}</td>
	</tr>
	<tr>
		<td>Total Cumulative (de-duped)</td>
		<td>{{dedupes}}</td>
	</tr>
</table>
